body {
    background-image: url("../images/laundry.jpeg");
    background-repeat: no-repeat;
    background-position: center;

  }
h3 {
    
    color: green;
    text-align: center;

}
.checkout-overlay {
    background-color: rgb(207, 196, 196);
    height: inherit;
    padding: 20px;
    border-radius: 20px;
}