body {
    background-image: url("../images/laundry.jpeg");
    background-repeat: no-repeat;
    background-position: center;

  }
h3 {
    
    color: green;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.checkout-overlay {
    background-color: rgb(207, 196, 196);
    height: inherit;
    padding: 20px;
    border-radius: 20px;
}
#amount {
    color: #000;
}
.checkout-summary {
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30px;
    font-size: x-large;
    
}
#amount {
    font-size: x-large;
}
