.card-header  {
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    background-color: white;
}

.img-rounded  {
    border-radius: 50%;
    height: 70px;
    width: 70px;
}
/* .topnav a {
    color: rgb(15, 22, 15);
    overflow: hidden;
    text-decoration: double;
    padding-left: 25px;
    text-align: center;
    font-size: 150%;
}*/

.card-header img  {
    width: 200px;
    height: 160px;
}
/* #moto  {
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    background-color: #2db775;
    height: 500px;
    text-align: center;
    padding-top: 150px;
    border-radius: 15px; */


/* slide animation */
.slider-frame  {
	overflow: hidden;
	height: 700px;
	width: 1300px;
}
@-webkit-keyframes slide_animation  {
	0% {left: 0px;}
	10% {left: 0px;}
	20% {left: 1300px;}
	30% {left: 1300px;}
	40% {left: 2600px;}
	50% {left: 2600px;}
	60% {left: 1300px;}
	70% {left: 1300px;}
	80% {left: 0px;}
	90% {left: 0px;}
	100% {left: 0px;}
}

.slide-images  {
	border-radius: 15px;
	height: 700px;
	width: 3900px;
	margin: 0 0 0 -2600px;
	position: relative;
	-webkit-animation-name: slide_animation;
	-webkit-animation-duration: 10s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-play-state: running;
}
.img-container  {
	height: 700px;
	width: 1300px;
	position: relative;
	float: right;
}
.img-container img  {
	height: 700px;
	width: 1300px;
	border-radius: 15px;
    opacity: 0.8;
}
.card-footer  {
    padding: 30px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.card-footer img  {
    margin-left: 60px;
    height: 50px;
    width: 50px;
}
#feedback  {
    padding-top: 100px;
    padding-bottom:100px;
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
}
#about-us  {
    padding-top: 150px;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 200px;
	font-size: x-large;
    text-align: center;
}
#abt-us-img1 img  {
height: 350px;
width: 400px;
margin-bottom: 10px;
margin-top: 10px;
border-radius: 30px;
margin-left: 150px;
}
#faqs  {
    padding: 150px;
    font-weight: bolder;
    font-size: x-large;
    font-family: 'Poppins', sans-serif;
}
#rate-us  {
    padding-left: 50px;
    padding-top: 100px;
    padding-bottom: 100px; 
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
input, textarea  {
    background-color: transparent;
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
    color: black;
    margin-bottom: 15px;
    margin-right: 15px;
    text-align: center;
    
}
#ourservices img {
  height: 250px;
  width: 400px;
}
#ourservices  {
    padding: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    margin-top: 20px;
    margin-bottom: 20px;
}
.slide-text1  {
    position: absolute;
    top: 40%;
    left: 15%;
    color: black;
    font-weight: bolder;
    text-align: center;
    font-family: 'Poppins', sans-serif;


}
